@media only screen and (min-width: 1024px) {
   /* Main - start */
   /* Sections */
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
   * {
      font-size: 14px;
   }
   /* Main - Start */
   /* Banner */
   .banner {
      grid-column: 1 / span 5;
      margin: 0;
      border-radius: 0;
      max-width: 100%;
   }

   /* Sections */
   section {
      grid-column: 1 / span 5;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
   }

   .about-me {
      grid-column: 1 / span 3;
   }

   .skills {
      grid-column: 4 / span 2;
   }
   /* Main - End */
}

@media only screen and (min-width: 0px) and (max-width: 425px) {
   /* Header  - Start*/
   /* Navigation Bar */
   .nav-text {
      display: none;
   }
   .nav-icon {
      display: block;
   }
   /* Header - End */

   /* Main - Start */
   .banner img {
      max-height: 11rem;
   }
   /* Main - End */
}
